body {
    background-color: #fdf6e3;
    color: #839496;
    font-family: 'Fira Sans', serif;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    text-align: left;
    hyphens: auto;
    max-width: 500px;
    font-size: 300%;
    margin: auto
}
